name: Java CI with Maven

on:
  push:
    [cite_start]branches: [ "main", "test" ] # Chạy khi push lên main hoặc test 
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Run Unit Tests
      run: mvn test # Lệnh kích hoạt TestNG chạy
